html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  background-color: #0a0a0a;
  background-image: radial-gradient(circle at 50% 0%,
      rgba(255, 255, 255, 0.12) 0%,
      rgba(255, 255, 255, 0.03) 40%,
      transparent 70%);
  color: #ffffff;
}

:root,
button {
  font-family: Montserrat, Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #ffffff;
}

h1 {
  font-family: Krona One, Montserrat, Avenir, Helvetica, Arial, sans-serif;
}

main {
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 2rem 3rem;
  align-items: center;
  min-height: auto;
  min-width: auto;
  box-sizing: border-box;
}

.pageTitle {
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 2px;
}

hr {
    width: 100%;
    height: 1px;
    /* background: #666666; */
    /* background: linear-gradient(to right, #ffffff, rgba(255, 255, 255, 0.2)); */
    background: linear-gradient(90deg, #ffffff19, #666666, #ffffff19);
    border: none;
}